@import url(http://fonts.googleapis.com/css?family=Raleway:200,500,700,800);


*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
<<<<<<< HEAD
	background: #f9f7f6;
=======
	background-image: url('../img/bg.png');
	background-position:;
>>>>>>> minor-changes
	color: #404d5b;
	font-weight: 500;
	font-size: 1.05em;
	font-family: 'Raleway', Arial, sans-serif;
}

a {
<<<<<<< HEAD
	color: #2fa0ec;
=======
	color:#FF5274;
>>>>>>> minor-changes
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
<<<<<<< HEAD
	color: #404d5b;
=======
	color: #AF3F55;
>>>>>>> minor-changes
}

.container {
	margin: 0 auto;
	overflow: hidden;
}

.content {
	font-size: 150%;
<<<<<<< HEAD
	padding: 0.2em 0;
=======
	padding: 1em 1em;
>>>>>>> minor-changes
}

.content h2 {
	margin: 0 0 0.2em;
	opacity: 1;
}

.content p {
	margin: 1em 0;
	padding: 1em 0 0 0;
	font-size: 1em;
}

.bgcolor-1 { background: #f0efee; 
	text-align: center;}
<<<<<<< HEAD
.bgcolor-2 { background: #c4c4c4; }
=======
.bgcolor-2 { background: #1B1B25; }
>>>>>>> minor-changes
.bgcolor-3 { background: #e8e8e8; 
	text-align: center;}
.bgcolor-4 { background: #2f3238; color: #fff; }
.bgcolor-5 { background: #df6659; color: #521e18; }
.bgcolor-6 { background: #2fa8ec; color: #fff;}
.bgcolor-7 { background: #d0d6d6; 
text-align: center;}
.bgcolor-8 { background: #3d4444; color: #fff; }
.bgcolor-9 { background: #8781bd; color: #fff; }
.bgcolor-10 { background: #6C6C6C; }

body .nomargin-bottom {
	margin-bottom: 0;
}

/* Header */
.header {
<<<<<<< HEAD
	background-color: #fff;
	padding: 3em 190px 4em;
	letter-spacing: -1px;
}

=======
	padding: 4em 190px 4em;
	letter-spacing: -1px;
	height: 100vh;
	color: #9FA8B3;
}
>>>>>>> minor-changes
.header h1 {
	font-weight: 800;
	font-size: 4em;
	line-height: 1;
	margin: 0.25em 0 0;
}
.header h3 {
	font-weight: 700;
	font-size: 3em;
	line-height: 1;
	float:right;
	margin: 0.5em 0 0;
}

.header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 400;
	padding: 0.325em 0 1em 0;
	color: #c3c8cd;
}
.header img {
    float:right;
}
<<<<<<< HEAD

=======
@media (min-width:992px) {
	.header{
		padding: 6em 190px 4em;
	}
}
@media (max-width:650px) {
	.header {
		padding: 2em 40px 3em 120px;
	}
	.header h1{
		font-size: 3.8em;
	}
	.header h3{
		font-size: 2.8em;
	}
}
>>>>>>> minor-changes
#second{
	padding: 100px;
}
#second span{
	text-align: left;
	font-size: 38px;
	font-weight: 500;
	text-transform: uppercase;
<<<<<<< HEAD
}
=======
}
.footer {
	text-align: center;
	color: #90949E;
}
>>>>>>> minor-changes
